/**
 * @name Eris
 * @author Rock#5429
 * @version 1.4
 * @description A darker, cooler, classier look for Discord.
 * @source https://github.com/RockESV/Eris
*/

@import url("https://rockesv.github.io/Eris/ErisSource.css");