@import url("https://rockesv.github.io/Eris/src/eris-whitney-font.css");
@import url("https://rockesv.github.io/Eris/src/eris-logos-pfps.css");

:root, .theme-dark, .theme-light {
    --font-primary: 'Whitney';
    --font-display: 'Whitney';
    --brand-experiment: hsl(227, 58%, 65%);
    --brand-500: var(--brand-experiment);
    --brand-experiment-560: hsl(227, 58%, 67.5%);
    --brand-experiment-600: hsl(227, 58%, 70%);
    --background-secondary: var(--background-primary);
    --background-secondary-alt: var(--background-primary);
    --background-modifier-selected: var(--background-tertiary);
    --background-floating: var(--background-tertiary);
    --channeltextarea-background: var(--background-tertiary);
    --input-background: var(--background-tertiary);
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-primary);
    --deprecated-card-bg: var(--background-tertiary);
    --deprecated-text-input-border: none;
    --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    --elevation-high: var(--box-shadow);
    --elevation-stroke: var(--box-shadow);
    --dark-elevation-border: var(--box-shadow);
    --dark-elevation-high: var(--box-shadow);
    --dark-elevation-low: var(--box-shadow);
    --search-popout-option-fade: transparent;
    --search-popout-option-fade-hover: transparent;
}

.theme-dark {
    --background-primary: #1f2125;
    --background-tertiary: #14161a;
    --text-normal: #ffffff;
    --text-muted: #9b9b9b;
    --channels-default: #b8b8b8;
}

.theme-light {
    --background-primary: #f5f5f5;
    --background-tertiary: #cccccc;
    --channels-default: #1a1a1a;
    --text-normal: #000000;
    --text-muted: #6e6e6e;
}

/* SETTINGS SECTION */

:root .info-3pQQBb .text-xs-normal-3O7EaX:first-child:before { /* Eris theme information at the bottom of the Settings sections */
	text-transform: none;
    content: "Eris v1.5 by Rock";
	display: block;
}

:root .sidebarRegionScroller-FXiQOh { /* Settings sidebar background and selected options color */
    background-color: var(--background-tertiary);
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--brand-experiment);
}

.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background-color: var(--brand-experiment);
}

.accountProfileCard-lbN7n-, .bioTextArea-dDGOeC, .input-3O04eu:not(.note-6O4w9y .textarea-_59yqs, .multiInputField-1zyopx, .note-3TX9O7 .textarea-_59yqs), .lookFilled-GPyucw.select-Zz0IcO, .itemFilled-2Fo7lr[aria-checked=true], .feedback-2YPzZb { /* Box shadow for various boxes in Settings */
    box-shadow: var(--box-shadow);
}

:root .footerSeparator-VzAYwb {
    box-shadow: none;
}

.popout-15UxD6, .formNotice-1JW4h2.cardPrimary-3qRT__.card-16VQ8C, .authedApp-8q3NA9, .connection-YOVI9j, .connectContainer-1hylYM, .guilds-XTTuu3 .cardWrapper-1bSePP, :root .codeRedemptionRedirect-2hYMSQ, .cameraWrapper-nG8dpo { /* Theming for dropdown menu and various cards */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border: none;
}

.option-Uc12mm[aria-selected=true]:not(.option-Uc12mm.multi-2vPqc4) { /* Removes background of selected item in dropdown menu */
    background-color: transparent;
}

.connectionHeader-Ixbb1s { /* Theming for Connections section in Settings */
    background: transparent;
}

.connectionList-11Q_X- {
    grid-gap: 8px;
}

.metadataContainer-35U-On, .container-QlmnKJ {
    padding: 0 16px;
    margin: 0;
}

.bd-addon-list .bd-addon-card { /* Theming for BetterDiscord settings section */
    background: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    padding: 0px 16px 16px;
}

.bd-addon-list .bd-addon-header {
    background: transparent;
    padding: 16px 0;
}

.bd-description-wrap, .bd-footer {
    background: var(--background-primary);
}

.bd-description-wrap {
    padding-top: 16px;
    border-radius: 5px 5px 0px 0px;
}

.bd-button:not(.bd-button-danger), .bd-addon-views .bd-view-button.selected {
    background-color: var(--brand-experiment);
}

/* FRIENDS SECTION */

.channel-1Shao0.container-32HW5s[aria-posinset="2"] { /* Disables Nitro button in Friends page */
    display: none;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG { /* Conversartion search box shadow */
    box-shadow: var(--box-shadow);
}

.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG { /* Box shadow for selected tab under Friends */
    box-shadow: var(--box-shadow);
}

.topPill-3DJJNV .item-3XjbnG { /* Gives top tabs in Friends enough room for box shadow */
    margin: 10px 8px;
}

.interactive-26HRN_.selected-26oxtA { /* Box shadow for selected DM */
    box-shadow: var(--box-shadow);    
}

.topPill-3DJJNV .themed-2-lozF.item-3XjbnG.selected-g-kMVV:hover:not(.disabled-1nofHP) {
    background-color: var(--background-tertiary);
}

.privateChannels-oVe7HL .scroller-WSmht3.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN { /* Gives DM list enough room for box shadow to display fully */
    padding-right: 4px !important;
}

.interactive-26HRN_.selected-26oxtA:hover { /* Fix selected DM color on hover */
    background-color: var(--background-tertiary);
    color: var(--interactive-active);
}

.channel-1Shao0.container-32HW5s[aria-posinset="1"] .interactive-26HRN_.selected-26oxtA { /* Fix Friends button color weirdness */
    background-color: var(--background-tertiary) !important;
    color: var(--interactive-active) !important;
}

.peopleColumn-1wMU14 .searchBar-2aylmZ { /* Friends search box shadow */
    box-shadow: var(--box-shadow);
}

.nowPlayingColumn-1eCBCN .itemCard-3Etziu, :root .outer-2JOHae.active-1W_Gl9, :root .outer-2JOHae.interactive-2zD88a:hover { /* Theming for Active Now cards */
    background-color: var(--background-tertiary);
    border: none;
    box-shadow: var(--box-shadow);
    margin-top: 16px;
}

.nowPlayingColumn-1eCBCN .itemCard-3Etziu .section-3G9aLW, :root .inset-SbsSFp { 
    background-color: transparent;
}

.scroller-hE2gWq { /* Removes divider between Friends and Active Now */
    border-left: none;
}

.root-2uUafN { /* User profile modal box shadow */
    box-shadow: var(--box-shadow) !important;
}

.channelTextArea-1FufC0.channelTextArea-1VQBuV, .searchBar-jGtisZ { /* Message text field and message search bar box shadow */
    box-shadow: var(--box-shadow);
}

.button-12Fmur.enabled-9OeuTA:hover, .button-1EGGcP.buttonColor-3bP3fX:hover, .withTagAsButton-OsgQ9L:hover { /* Hover background and box shadows on user buttons */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}

/* CHANNELS */

:root .autocomplete-3NRXG8 {   /* Mentions menu background and shadow */ 
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}

.modeSelected-3DmyhH .content-1gYQeQ:not(.typeThread-2Aqh6X .content-1gYQeQ) { /* Styling for selected channel (except threads) */
    box-shadow: var(--box-shadow);
    margin-left: 0;
    padding-left: 12px;
    border-left: 4px solid var(--brand-experiment);
    border-radius: 0 4px 4px 0;
    margin-right: 8px;
}

.modeSelected-3DmyhH.typeThread-2Aqh6X .content-1gYQeQ { /* Styling for selected thread */
    border-left: 3px solid var(--brand-experiment);
    border-radius: 0 4px 4px 0;
    padding-left: 8px;
    box-shadow: var(--box-shadow);
    margin-right: 8px;
}

.wrapper-NhbLHG:hover .content-1gYQeQ { /* Styling for hovered channels */
    margin-right: 8px;
}

.selected-1-Z6gm.container-1oeRFJ .layout-1qmrhw { /* Box shadow for selected user in channel */
    box-shadow: var(--box-shadow);
}

.browser-mnQ1T7 .header-3_zmOb { /* Styling for Threads popup */
    background-color: var(--background-primary);
}

.searchBox-3IjAC1.container-2oNtJn, .container-2rzKKA:hover {
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border: none;
}

.container-3i3IzO, .card-PQEqCK { /* Styling for threads preiew and first message card */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}

.jumpToPresentBar-1cEnH0 .barButtonMain-2GIx4o {  /* Styling for jump to present bar */
    display: none;
}

.jumpToPresentBar-1cEnH0 {
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    margin-bottom: 16px;
    padding: 4px;
    border-radius: 8px;
    opacity: 1;
    left: initial;
}

.jumpToPresentBar-1cEnH0:active {
    margin-bottom: 15px;
}

:root .spoilerText-2G40u0.hidden-2lQZ5q, .markup-eYLPri pre code { /* Styling for code blocks and spoilers */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}

.markup-eYLPri blockquote, .markup-eYLPri pre {
    margin-bottom: 5px;
}

:root .spoilerText-2G40u0.hidden-2lQZ5q:hover {
    background-color: var(--background-modifier-hover);
}

.newMosaicStyle-2jdUaP .textContainer-36wgKK, .newMosaicStyle-2jdUaP .footer-GXWBBp, .newMosaicStyle-2jdUaP .codeView-12LUIl, .attachment-1PZZB2 { /* Styling for attachments */
    border: none;
    background-color: transparent;
}

.attachmentContentItem-UKeiCx {
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

.hoverButtonGroup-2yZIzC.nonMediaAttachment-3C_4Pd {
    outline: none;
    top: 8px;
    right: 8px;
    background-color: transparent;
}

#emoji-picker-tab-panel .searchBar-2M9mRP { /* Emoji picker search bar */
    box-shadow: var(--box-shadow);
}

.embedFull-1HGV2S { /* Styling for embeds */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}