@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 300;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-normal-300.woff2) format("woff2");
}

@font-face {
    font-family: 'Whitney';
    font-style: italic;
    font-weight: 300;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-italic-300.woff2) format("woff2");
}

@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 400;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-normal-400.woff2) format("woff2");
}

@font-face {
    font-family: 'Whitney';
    font-style: italic;
    font-weight: 400;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-italic-400.woff2) format("woff2");
}

@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 500;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-normal-500.woff2) format("woff2");
}

@font-face {
    font-family: 'Whitney';
    font-style: italic;
    font-weight: 500;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-italic-500.woff2) format("woff2");
}

@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 600;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-normal-600.woff2) format("woff2");
}

@font-face {
    font-family: 'Whitney';
    font-style: italic;
    font-weight: 600;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-italic-600.woff2) format("woff2");
}

@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: 700;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-normal-700.woff2) format("woff2");
}

@font-face {
    font-family: 'Whitney';
    font-style: italic;
    font-weight: 700;
    src: url(https://raw.githubusercontent.com/RockESV/Eris/main/assets/fonts/whitney-italic-700.woff2) format("woff2");
}