.info-3pQQBb .text-xs-normal-3SiVjE:first-child:before {
	text-transform: none;
    content: "Eris v1.4 by Rock";
	display: block;
}

:root {
    --brand-experiment: hsl(227, calc(var(--saturation-factor, 1)*58%), 65%) !important;
    --brand-experiment-200: white !important;
    --brand-experiment-30a: hsl(227, calc(var(--saturation-factor, 1)*58%), 65%, 0.1) !important;
    --brand-experiment-500: hsl(227, calc(var(--saturation-factor, 1)*58%), 65%) !important;
    --brand-experiment-560: hsl(227, calc(var(--saturation-factor, 1)*58%), 65%) !important;
    --brand-experiment-600: hsl(227, calc(var(--saturation-factor, 1)*55%), 62%) !important;
    --brand-experiment-15a: hsla(227, calc(var(--saturation-factor, 1)*58%), 65%, 0.149) !important;
    --font-primary: 'Whitney' !important;
    --font-display: 'Whitney' !important;
}